.gridContainer {
  display: grid;
  grid-column-gap: 75px;
  grid-template-columns: auto auto;
  margin-left: 0;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  margin-bottom: 75px;
}

.link img {
  transition: filter ease 200ms;
  filter: grayscale(35%);
}

.link:hover img {
  filter: grayscale(0%);
}

@media (max-width: 768px) {
  .gridContainer {
    display: flex;
    flex-direction: column;
  }

  .link {
    margin-bottom: 25px;
  }
  .link img {
    filter: grayscale(0%);
  }
}
