.igLink {
  opacity: 0.8;
  padding-bottom: 15px;
}

.igLink:hover {
  border-bottom: none;
  opacity: 1;
}

.igLink_black {
  filter: brightness(0%);
}

.igLink_absolute {
  position: absolute;
  bottom: 0;
}
