.layout {
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.65);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  max-width: 650px;
  text-align: justify;
}

.section {
  max-width: 650px;
  text-align: justify;
}
.subnav {
  margin-top: 10px;
}
.subnav a {
  border-right: 1px solid rgba(0, 0, 0, 0.65);
  padding: 6px 13px;
  text-transform: uppercase;
}

.subnav a:hover {
  border-bottom: none;
}
.subnav a:last-child {
  border-right: none;
}
.images {
  margin-top: 25px;
  width: 650px;
}

@media (max-width: 768px) {
  .layout {
    padding: 0 25px;
  }
  .intro {
    width: 100%;
  }
  .section {
    width: 100%;
  }
  .images {
    max-width: 100%;
  }
}
