.layout {
  padding: 0px 50px;
  color: rgb(35, 31, 32);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  max-width: 650px;
  text-align: justify;
}

.section {
  max-width: 650px;
  font-size: 16px;
  text-align: justify;
}

.subnav a {
  margin-right: 25px;
  text-transform: uppercase;
  font-size: 14px;
}

.images {
  margin-top: 25px;
  width: 650px;
}

@media (max-width: 768px) {
  .layout {
    padding: 0 25px;
  }
  .intro {
    width: 100%;
    font-size: 18px;
  }
  .section {
    width: 100%;
  }
  .subnav a {
    font-size: 12px;
  }
  .images {
    max-width: 100%;
  }
}
