.nav {
  display: flex;
  margin-left: 0;
  height: 100px;
  align-items: center;
  margin-block-start: 0;
  margin-block-end: 0;
  background-color: rgba(159, 141, 105, 0.85);
  margin: 0 -50px;
  padding: 0 50px;
}

.navLink {
  color: white;
  margin: 0 50px 0 0;
  text-decoration: none;
  margin-bottom: -8px;
  font-size: 16px;
}

@media (max-width: 900px) {
  .navLink {
    font-size: 12px;
    margin-right: 15px;
    background-color: red;
  }
}

@media (max-width: 675px) {
  .navLink {
    display: none;
  }
}

.selected {
  color: rgb(35, 31, 32);
}

.logo {
  display: block;
  width: 300px;
  height: 50px;
  background: url(/Logo.png) no-repeat;
  background-size: contain;
  background-position: center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: none;
}

.logo:hover {
  border-bottom: none;
}
