.nav {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  margin-top: 0;
  background-color: rgba(217, 217, 217, 0.85);
  width: 100vw;
  padding-bottom: 20px;
}

.navLink {
  color: rgba(35, 31, 32, 0.75);
  margin: 0 15px;
  text-decoration: none;
  font-weight: 700;
}

.nav li {
  margin-bottom: 0;
  line-height: 1rem;
}

.logoItem {
  width: 100%;
}

.selected {
  color: rgb(35, 31, 32);
}

.logo {
  display: block;
  width: 360px;
  height: 60px;
  background: url(/Logo.svg) no-repeat;
  background-size: contain;
  background-position: center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: none;
  margin: 20px auto 0;
  font-size: 0;
}

.logo:hover {
  border-bottom: none;
}

.mobileNav {
  display: none;
}

.navToggle {
  display: none;
}

@media (max-width: 768px) {
  .nav {
    justify-content: center;
    padding-left: 0;
  }

  .navLink {
    display: none;
  }

  .nav .logo {
    display: block;
    margin-top: 5px;
  }

  .mobileNav {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(231, 236, 239, 0.85);
    margin: 0;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }

  .mobileNav.open {
    display: flex;
  }

  .mobileNav .navLink {
    display: block;
    padding: 20px 0;
    font-size: 1.3rem;
  }

  .navToggle {
    cursor: pointer;
    display: block;
    position: fixed;
    top: 35px;
    right: 35px;
    z-index: 101;
    width: 30px;
    height: 25px;
    transform: scale(0.65);
  }

  .navToggle i {
    background-color: rgb(35, 31, 32);
    content: '';
    display: block;
    width: 100%;
    height: 4px;
  }

  .navToggle i:nth-child(1) {
    -webkit-animation: outT 0s backwards;
    animation: outT 0s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }

  .navToggle i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0s backwards;
    animation: outM 0s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }

  .navToggle i:nth-child(3) {
    -webkit-animation: outBtm 0s backwards;
    animation: outBtm 0s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }

  .navToggle.active i:nth-child(1) {
    -webkit-animation: inT 0.4s forwards;
    animation: inT 0.4s forwards;
  }
  .navToggle.active i:nth-child(2) {
    -webkit-animation: inM 0.4s forwards;
    animation: inM 0.4s forwards;
  }
  .navToggle.active i:nth-child(3) {
    -webkit-animation: inBtm 0.4s forwards;
    animation: inBtm 0.4s forwards;
  }

  @-webkit-keyframes inM {
    50% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(45deg);
    }
  }
  @keyframes inM {
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(45deg);
    }
  }

  @-webkit-keyframes outM {
    50% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(45deg);
    }
  }
  @keyframes outM {
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(45deg);
    }
  }

  @-webkit-keyframes inT {
    0% {
      -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
      -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
      -webkit-transform: translateY(9px) rotate(135deg);
    }
  }
  @keyframes inT {
    0% {
      transform: translateY(0px) rotate(0deg);
    }
    50% {
      transform: translateY(9px) rotate(0deg);
    }
    100% {
      transform: translateY(9px) rotate(135deg);
    }
  }

  @-webkit-keyframes outT {
    0% {
      -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
      -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
      -webkit-transform: translateY(9px) rotate(135deg);
    }
  }
  @keyframes outT {
    0% {
      transform: translateY(0px) rotate(0deg);
    }
    50% {
      transform: translateY(9px) rotate(0deg);
    }
    100% {
      transform: translateY(9px) rotate(135deg);
    }
  }

  @-webkit-keyframes inBtm {
    0% {
      -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
      -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
      -webkit-transform: translateY(-9px) rotate(135deg);
    }
  }
  @keyframes inBtm {
    0% {
      transform: translateY(0px) rotate(0deg);
    }
    50% {
      transform: translateY(-9px) rotate(0deg);
    }
    100% {
      transform: translateY(-9px) rotate(135deg);
    }
  }

  @-webkit-keyframes outBtm {
    0% {
      -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
      -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
      -webkit-transform: translateY(-9px) rotate(135deg);
    }
  }
  @keyframes outBtm {
    0% {
      transform: translateY(0px) rotate(0deg);
    }
    50% {
      transform: translateY(-9px) rotate(0deg);
    }
    100% {
      transform: translateY(-9px) rotate(135deg);
    }
  }
}

@media (max-width: 450px) {
  .nav {
    height: 50px;
  }

  .navToggle {
    top: 15px;
    right: 10px;
    transform: scale(0.5);
  }

  .logo {
    width: 260px;
    height: 65px;
  }
}
