.nav {
  display: flex;
  margin-left: 0;
  height: 100px;
  align-items: center;
  margin-block-start: 0;
  margin-block-end: 0;
  background-color: rgba(159, 141, 105, 0.85);
  margin: 0 -50px;
  padding: 0 50px;
}

.navLink {
  color: white;
  margin: 0 50px 0 0;
  text-decoration: none;
  margin-bottom: -8px;
  font-size: 16px;
}

.selected {
  color: rgb(35, 31, 32);
}

.logo {
  display: block;
  width: 300px;
  height: 50px;
  background: url(/Logo.png) no-repeat;
  background-size: contain;
  background-position: center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: none;
}

.logo:hover {
  border-bottom: none;
}

.mobileNav {
  display: none;
}

.hamburger {
  display: none;
}

@media (max-width: 900px) {
  .navLink {
    font-size: 12px;
    margin-right: 15px;
  }
}

@media (max-width: 768px) {
  .nav {
    justify-content: center;
  }

  .navLink {
    display: none;
  }

  .nav .logo {
    display: block;
  }

  .mobileNav {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(159, 141, 105, 0.85);
    margin: 0;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }

  .mobileNav.open {
    display: flex;
  }

  .mobileNav .logo {
    outline: 1px solid red;
    display: none !important;
  }

  .mobileNav .navLink {
    display: block;
    padding: 20px;
    font-size: 2rem;
  }

  .hamburger {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 101;
  }
}
